@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
  font-family: 'Bebas Neue - Book';
  font-style: normal;
  font-weight: 400;
  src: local('Bebas Neue - Book'),
    url('./assets/fonts/bebasneue-book-webfont.woff2') format('woff2'),
    url('./assets/fonts/bebasneue-book-webfont.woff') format('woff');
  font-display: swap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2b2a30;
}

section#timer {
  position: relative;
  width: 518px;
  height: 518px;
  border-radius: 50%;
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
}

.timer__bezel {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  background: conic-gradient(#9d0000 0deg 270deg, #000 270deg 360deg);
  border-radius: 50%;
}

.timer__face {
  position: absolute;
  top: 9px;
  left: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  border-radius: 50%;
}

.timer__content {
  position: absolute;
  top: 41px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.countdown__time-remaining {
  margin-bottom: 9px;
  color: #fff;
  font-family: 'Bebas Neue - Book', sans-serif;
  font-weight: 400;
  font-size: 196px;
  line-height: 196px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span#time__mins {
  display: inline-block;
  min-width: 160px;
  text-align: right;
}

span#time__secs {
  display: inline-block;
  min-width: 160px;
  text-align: left;
}

button {
  text-align: center;
  background: transparent;
  border: none;
  cursor: pointer;
  border-image-width: 0;
}

button.countdown__button-start-stop {
  position: relative;
  left: 5px;
  margin: 32px 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.5px;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

button.countdown__button-settings {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: url('./assets/images/gear.svg');
}
